[submodule "external/OpenDashboardTrackData"]
	path = external/OpenDashboardTrackData
	url = git@github.com:OpenDashboardUI/OpenDashboardTrackData.git
[submodule "external/svg_layer_extractor"]
	path = external/svg_layer_extractor
	url = git@github.com:twyleg/svg_layer_extractor.git
